<div class="container">
    <div class="row">
        <div class="col">
            <canvas id="MyChartSVI" width="400" height="400"></canvas>
            <button onclick="obelezi()"> Obelezi </button>
        </div>
        </div>
    	<div class="row">
    	
    	
    	<div class="col">
    		
    		<table class="pregled_table">
            <thead>
                <tr id="header_row">
                    <th>Ticker</th>
                    <th>Price</th>
                    <th>Volume</th>
                    <th>Vreme</th>
                </tr>   
            </thead>
            <tbody id="body_row">

                <% Ticker.all.reverse.each_with_index do |x, i| %>
                <tr>
                     <td><%= x.name %></td>

                     <td value = "<%=x.last_price %>" class="<%=x[:name] %>" id="<%=x[:name] %> <%=i %>"><%= number_to_currency(x.last_price, :locale => "en") %></td>
                     <td value = "<%=x.volume %>" class="<%=x[:name]%>V" id="<%=x[:name] %> <%=i %>"><%= number_to_currency(x.volume, :locale => "en") %></td>
                     <td><%= x.created_at.strftime("%H:%M") %></td>
                </tr>      
                <% end %>

            </tbody>
            </table>
    	
    	
    	
    	</div>
<div class="col">
<% unless @sviTickeri[0][0] == nil %>
    <% @sviTickeri.each do |ticker| %>
        
            <canvas id="<%=ticker[0].name+"chart"%>" width="400" height="400"></canvas>
        
    <% end %>


        
    

</div>

    </div>
    <%# @podignutiPrice.each do |x| %>
        <div>
            <%# x.last_price  %>
            <%# x.created_at  %>
        </div>
    <%# end %>
    <%# @podignutiPrice.each do |x| %>
    <div>
            <%# x.volume  %>
            <%# x.created_at  %>
        </div>
    
    <%# end %>
</div>



<script>

<% @sviTickeri.each_with_index do |ticker, index| %>
    
var ctx = document.getElementById("<%=ticker[0].name+"chart"%>");
var myLineChart = new Chart(ctx, {
    type: 'line',
      data: {
        labels: <%= @vremenaLabels %>,
        datasets: [
                    {
                    data: <%= ticker.pluck(:last_price).map {|y| y - ticker.pluck(:last_price)[0] } %>,
                    label: "<%=ticker[0].name%>",
                    borderColor: "<%= @colorsArray[index] %>",
                    fill: false
                    }
                  ]
            },
  options: {
    title: {
      display: true,
      text: 'Coin prices in last 48h'
    }
  }
});
<% end %>

var ctx2 = document.getElementById("MyChartSVI");

var myLineChartSVI = new Chart(ctx2, {
    type: 'line',
      data: {
        labels: <%= @vremenaLabels %>,
        datasets:
        
        [
            <% x = @sviPricesi-[@btcusdchart] %>
            <%# x = @sviPricesi %>
            <% x.each_with_index do |prices, index1| %>
            {
                    data: <%= prices.map{|y| y - prices[0]} %>,
                    label: "neki",
                    borderColor: "<%= @colorsArray[index1] %>",
                    fill: false
            }<% unless index1 == @sviPricesi.length-1  %>,<% end %>
            <% end %>
        ]
         
            },
  options: {
    title: {
      display: true,
      text: 'Coin prices in last 48h'
    }
  }
});



// var ctx2 = document.getElementById("myChart2");
// var myChart2 = new Chart(ctx2, {
//     type: 'bar',
//     data: {
//         labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
//         datasets: [{
//             label: '# of Votes',
//             data: [12, 19, 3, 5, 2, 3],
//             backgroundColor: [
//                 'rgba(255, 99, 132, 0.2)',
//                 'rgba(54, 162, 235, 0.2)',
//                 'rgba(255, 206, 86, 0.2)',
//                 'rgba(75, 192, 192, 0.2)',
//                 'rgba(153, 102, 255, 0.2)',
//                 'rgba(255, 159, 64, 0.2)'
//             ],
//             borderColor: [
//                 'rgba(255,99,132,1)',
//                 'rgba(54, 162, 235, 1)',
//                 'rgba(255, 206, 86, 1)',
//                 'rgba(75, 192, 192, 1)',
//                 'rgba(153, 102, 255, 1)',
//                 'rgba(255, 159, 64, 1)'
//             ],
//             borderWidth: 1
//         }]
//     },
//     options: {
//         scales: {
//             yAxes: [{
//                 ticks: {
//                     beginAtZero:true
//                 }
//             }]
//         }
//     }
// });
</script>
<% end %>